@charset "UTF-8";


/*----- Layout -----*/

html, body, #home{ /* ocupa toda a tela */
    height: 100%;
    overflow-x: hidden; /* esconde barra horizontal */
    /* overflow-scroll: aparece independente se precisa da barra ou não */
}

body{
    background: url('../imagens/capa.png'), 
                url('../imagens/ruido.png'),
                linear-gradient(50deg, #ff4169, #7c26f8); /* combinando imagens, só tem esse efeito porque elas tem um efeito de transparência */
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

/*----- Barra de navegação -----*/

nav.navbar-transparente{
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav a.nav-link { /* Deixando mais específico para sobrepor a config do BootStrap */
    color: rgb(255 255 255);
}

.navbar-light .navbar-nav a.nav-link:hover { 
    color: #9bf0e1;
}

.navbar-light button.navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: #ffffff59;
}

.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}

/*----- Capa -----*/

.capa{
    text-align: center;
}

/*----- Tipografia -----*/

#home h1{
    font-weight: 900;
    letter-spacing: -0.05em; /* espaçamento entre letras */
    margin-bottom: 50px;
    color: white;
}

#home .btn-custom{
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

#home .btn-roxo{
    background: #7c25f8;

}

#home .btn-roxo:hover{
    background: #6207e3;
    color: white;
}

#home .btn-branco{
    border: 2px solid white;

}

#home .btn-branco:hover{
    background: white;
    color: black;
}

/*----- Estrutura conteúdos -----*/

#servicos{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.albuns{
    padding: 10px 0px;
}

#servicos h2{
    color: #7c25f8;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: -0.04em;
}

#servicos h3{
    font-size: 2em;
    letter-spacing: -0.04em;
    color: #7c25f8;
    font-weight: bold;
}

/*----- Estrutura Recursos -----*/

#recursos{
    padding-top: 20px;
    padding-bottom: 20px;
}

#recursos h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: -0.04em;
}

#recursos h3{
    font-size: 2em;
    letter-spacing: -0.04em;
    color: #9bf0e1;
    font-weight: bold;
}

#recursos p{
    color: white;
}

.rotacionar{ 
    padding-left: 80px;

    /* Rotacionar a imagem (sai do seu lugar e invade outra)*/
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(30deg); /* IE 9 */ 
   
}

/*----- Footer -----*/

footer{
    background: black;
    padding: 50px 0px 20px 0px;
    position: relative; /* Fica sobre a imagem do celular */
}

footer h4{
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a{
    color: white;
    font-size: 0.8em;

}

footer .navbar-nav a:hover{
    color: #9bf0e1;
    text-decoration: none;

}

footer ul{
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0px 10px;
}


